@import 'variables';
@import 'mixins';

* {
    color: $main-font-color;
    font-family: "Inter", sans-serif;
  }

#login-page {
  background-color: $main-accent-color;
  height: 33vh;
  width: 100%;
  @include flexColumn();
}

#login-form {
  position: absolute;
  top: 15%;
  left: 41.5%;
  height: 10%;
}

#login-welcome {
  font-size: 30px;
}

#please-login {
  position: absolute;
  top: 8.5%
}

#incorrect-login {
  position: absolute;
  top: 25%;
}

form {
  height: 70%;
  @include flexColumn();
  justify-content: space-between;
  background-color: $main-accent-color;
}

.booking-form {
  width: 50vw;
  height: 27vh;
  border-radius: 10px;
  position: absolute;
  left: 25%;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

#see-cost-button {
  background-color: $tertiary-accent-color;
}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: .75%;
}

#error-message {
  padding-top: 5%;
  height: 20vh;
  background-color: $main-accent-color;
  font-size: xx-large;
  @include flexColumn();

  button {
    background-color: $tertiary-accent-color;
  }
}
  
select, input {
  color: black;
  width: 145px;
}

#turing-logo {
  height: 50px;
}

body {
  background: url('../images/shark-fin-cove.jpg');
  margin: 0;
}

#welcome-div {
  background-color: $secondary-accent-color;
  width: 30%;
  height: 20vh;
  border-radius: 10px;
  position: absolute;
  left: 5%;
  top: 10%;
  padding-left: 3%;
  padding-top: 1%;

  p {
      color: $main-accent-color;
      font-weight: bold;
    }
}

h1 {
  font-size: xx-large;
}

#total-spent {
  font-weight: bold;
}

#dashboard {
  display: flex;
  justify-content: space-evenly;
}

.dashboard-widget {
  width: 40vw;
  height: 55vh;
  background-color: $main-accent-color;
  border-radius: 10px;
  @include flexColumn();
  overflow-y: scroll;
  position: absolute;
  bottom: 10%;
  z-index: 2;
}

.past {
  left: 5%;
}

.pending {
  right: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5%; 
  column-gap: 15%; 
  width: 80%;
}

.individual-trips {
  background-color: $tertiary-accent-color;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  @include flexColumn();
  box-shadow: 5px 5px 10px 0 #000;
}

.trip-image {
  width: 50%;
  border-radius: 50%;
}

.no-pending-trips, .no-past-trips {
  @include flexColumn();
}

#pending-book-button, 
#past-book-button,
#submit-booking-button,
#login-button {
  background-color: $tertiary-accent-color;
}

#bottom-div {
  background-color: $secondary-accent-color;
  height: 25vh;
  width: 100vw;
  position: absolute;
  bottom: 0%;
  z-index: 1;
}

button {
  border-radius: 5px;
  height: 25px;
  width: 100px;
}

.cost-estimate-div {
  @include flexColumn();
  justify-content: space-between;
  background-color: $main-accent-color;
  width: 50vw;
  height: 15vh;
  border-radius: 10px;
  position: absolute;
  top: 48%;
  left: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#cost-estimate {
  width: 40vw;
  align-self: center;
}

#see-cost-button {
  height: 6vh;
}

#submit-booking-button {
  height: 6vh;
  width: 150px;
}

.book-now-button {
  background-color: $main-accent-color;
  height: 50px;
  width: 130px;
}

.hidden {
  display: none;
}