@import 'variables';
@import 'mixins';

* {
    color: $main-font-color;
    font-family: "Inter", sans-serif;
    // font-optical-sizing: auto;
    // font-weight: <weight>;
    // font-style: normal;
  }

#login-page {
  background-color: $main-accent-color;
  height: 33vh;
  width: 100%;
  @include flexColumn();
}

#login-form {
  position: absolute;
  top: 15%;
  left: 41.5%;
  height: 10%;
}

#incorrect-login {
  position: absolute;
  top: 25%;
}

form {
  height: 70%;
  @include flexColumn();
  justify-content: space-between;
}

header {
  display: flex;
}
  
select, input {
  color: black;
}

#turing-logo {
  height: 50px;
}

.book-now-button {
  background-color: $main-accent-color;
}

body {
  background: url('../images/shark-fin-cove.jpg');
  margin: 0;
}

#welcome-div {
  p {
      color: $main-accent-color;
    }
}

#dashboard {
  display: flex;
  justify-content: space-evenly;
}

.dashboard-widget {
  width: 40vw;
  height: 55vh;
  background-color: $main-accent-color;
  border-radius: 10px;
  @include flexColumn();
  overflow-y: scroll;
  position: absolute;
  bottom: 10%;
  z-index: 2;
}

.past {
  left: 5%;
}

.pending {
  right: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5%; 
  column-gap: 15%; 
  width: 80%;
}

.individual-trips {
  background-color: $tertiary-accent-color;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  @include flexColumn();
  box-shadow: 5px 5px 10px 0 #000;
}

.trip-image {
  width: 50%;
  border-radius: 50%;
}

.no-pending-trips, .no-past-trips {
  @include flexColumn();
}

#pending-book-button, 
#past-book-button,
#login-button {
  background-color: $tertiary-accent-color;
}

#bottom-div {
  background-color: $secondary-accent-color;
  height: 25vh;
  width: 100vw;
  position: absolute;
  bottom: 0%;
  z-index: 1;
}

button {
  border-radius: 5px;
  height: 25px;
  width: 100px;
}

.hidden {
  display: none;
}