* {
  color: white;
}

#turing-logo {
  height: 50px;
}

body {
  background: url('../images/shark-fin-cove.jpg');
  margin: 0;
}

#dashboard {
  display: flex;
  justify-content: space-evenly;
}

.dashboard-widget {
  width: 40vw;
  height: 30vh;
  background-color: #F7467B;
  border-radius: 10px;
}

#bottom-div {
  background-color: white;
  height: 30vh;
}

.hidden {
  display: none;
}